@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.SmoothScroll {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
  
.container {
    width: 100vw;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: white !important;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.show {
    opacity: 1;
    transition: 0.4s;
}

.hide {
    opacity: 0;
    transition: 0.4s;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}


.chart-wrapper {
    position: fixed;
    height: 500px;
    width: 107vw;
    display: flex;
    z-index: -1;
    top: 200px;
    margin-left: -7vw;
}

.cover {
    position: absolute;
    height: 100%;
    width: 7vw;
    display: block;
    background-color: white;
}

#speedChart {
    display: block;
    box-sizing: border-box;
    height: 405px !important;
    width: 100% !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

#header .image {
    padding-left: 9.5%;
    align-self: center;
}

#header .image img {
    width: 120px;
    vertical-align: bottom;
}

#header .item a {
    text-transform: uppercase;
    color: #000 !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: normal !important;
}

#header .menu {
    padding-right: 9.5%;
    align-self: center;
}

#header .menu .menu-open .open {
    margin-right: -10px !important;
}

@media only screen and (max-width: 992px) {
    #header .item a {
        font-size: 30px !important;
    }
}


/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/

#title {
    padding-top: 200px;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
    width: fit-content;
    background: linear-gradient(to right, rgba(255,255,255,0.7) 90%, transparent);
}

#title div img {
    width: 150px;
}

#title div h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

@media only screen and (max-width: 992px) {
    #title div h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #title {
        width: initial;
        background: rgba(255,255,255,0.6);
    }
    #title div img {
        width: 130px;
    }
    #title div h2 {
        font-size: 40px;
    }
}



/*--------------------------------------------------------------
# Goals
--------------------------------------------------------------*/

#goals {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgba(255,255,255,0.7);
}

#goals .steps {
    display: flex;
}

#goals .steps .step {
    width: fit-content;
    flex: 1;
}


#goals .steps .step img {
    width: 100px;
    padding-left: 8px;
}

#goals .steps .step .text {
    color: #B0B0B0;
    font-size: 38px;
    font-weight: 700;
    margin-top: -5px;
    padding: 0 8px;
}

#goals .description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#goals .description .text {
    padding-left: 8px;
    font-size: 18px;
    padding-right: 80px;
    flex: 1;
}

#goals .description .icon {
    display: flex;
    flex: 1;
}

#goals .description .icon img {
    width: 400px;
    height: auto;
    align-self: center;
    vertical-align: middle;
}

@media only screen and (max-width: 1125px) {
    #goals .steps {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 992px) {
    #goals .steps .step .text {
        font-size: 34px;
    }
    #goals .description {
        flex-direction: column;
        margin-top: 30px;
    }
    #goals .description .text {
        font-size: 16px;
    }
    #goals .description .icon img {
        width: 330px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    #goals {
        padding-bottom: 50px;
    }
    #goals .steps .step .text {
        font-size: 30px;
        margin-bottom: 40px;
    }
    #goals .description {
        margin-top: 10px;
    }
    #goals .description .text {
        font-size: 15px;
        padding-right: 0px;
    }
    #goals .description .icon img {
        width: 250px;
        margin: 0 auto;
    }
    #goals .steps .step img {
        width: 75px;
    }
}


/*--------------------------------------------------------------
# Explain
--------------------------------------------------------------*/

#explain {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
}

#explain .title {
    color: black;
    font-size: 38px;
    font-weight: 700;
    margin-top: 5px;
    width: fit-content;
    margin-bottom: 60px;
}

#explain .row {
    display: flex;
    padding-bottom: 70px;
    gap: 10px;
}

#explain .row img {
    margin-bottom: 15px;
    margin-left: 8px;
}

#explain .row .item {
    padding: 0;
    height: fit-content;
    flex: 1;
}

#explain .row .title {
    background-color: transparent;
    color: #4757A5;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#explain .row .description {
    margin: 0;
    font-size: 17px;
    width: 260px;
}

@media only screen and (max-width: 992px) {
    #explain .title {
        font-size: 34px;
    }
    #explain .row {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
    }
    #explain .row .title {
        font-size: 17px;
    }
    #explain .row .description {
        font-size: 16px;
        width: 50vw;
    }
}

@media only screen and (max-width: 767px) {
    #explain {
        padding-bottom: 0;
    }
    #explain .title {
        font-size: 30px;
    }
    #explain .row .title {
        font-size: 16px;
    }
    #explain .row .description {
        font-size: 15px;
        width: 70vw;
    }
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

#education {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    gap: 15vw;
}

#education .title {
    color: #B0B0B0;
    font-size: 38px;
    font-weight: 700;
    width: 450px;
}

#education .text {
    font-size: 18px;
    align-self: center;
    width: 500px;
}

@media only screen and (max-width: 992px) {
    #education .title {
        font-size: 34px;
    }
    #education .text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    #education {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 0;
    }
    #education .title {
        font-size: 30px;
        flex: 1;
        width: 80vw;
    }
    #education .text {
        font-size: 15px;
        align-self: normal;
        flex: 1;
        width: 80vw;
    }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

#team {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    gap: 15vw;
}

#team .members {
    display: flex;
    gap: 40px;
    flex: 1;
    align-items: center;
}

#team .members .member {
    width: 130px;
    font-size: 18px;
}

#team .members .member img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

#team .members .member .name {
    margin-bottom: 0;
    font-weight: 700;
}

#team .members .member .position {
    margin-top: 0;
}

#team .description {
    flex: 1;
    text-align: right;
}

#team .description .title {
    font-size: 38px;
    font-weight: 700;
    margin-top: 0;
}

#team .description .text {
    font-size: 18px;
    margin-top: 0;
}

@media only screen and (max-width: 992px) {
    #team {
        gap: 6vw;
    }
    #team .members .member {
        font-size: 16px;
    }
    #team .description .title {
        font-size: 34px;
    }
    #team .description .text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    #team {
        flex-direction: column-reverse;
        gap: 30px;
        padding-bottom: 0;
    }
    #team .members .member {
        font-size: 15px;
    }
    #team .description {
        text-align: left;
    }
    #team .description .title {
        font-size: 30px;
    }
    #team .description .text {
        font-size: 15px;
    }
}


/*--------------------------------------------------------------
# LinkedIn
--------------------------------------------------------------*/

#linkedin {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
}

#linkedin img {
    width: 140px;
    height: auto;
    margin-bottom: 20px;
    transition: 0.3s;
}

#linkedin img:hover {
    opacity: 0.85;
    transition: 0.3s;
}

#linkedin iframe {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    height: 400px;
    width: 70%;
    overflow: auto;
}

@media only screen and (max-width: 767px) {
    #linkedin img {
        width: 120px;
    }
    #linkedin iframe {
        width: 100%;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    padding-top: 100px;
    padding-bottom: 100px;
}

#footer .description {
    width: 40vw;
    font-size: 18px;
}

#footer .description .title {
    font-size: 38px;
    font-weight: 700;
    color: #4757a5;
    margin-top: 0;
}

#footer .description .text {
    width: 500px;
}

#footer .description .place, #footer .description .mail {
    display: flex;
    padding-left: 10px;
    gap: 10px;
    padding-top: 10px;
}

#footer .description .place span {
    align-self: end;
}

#footer .description .mail a {
    color: black;
    align-self: center;
    transition: 0.3s;
}

#footer .description .mail a:hover {
    opacity: 0.8;
    transition: 0.3s;
}

#footer .made {
    align-self: flex-end;
    margin-bottom: 0;
}

#footer .made .name {
    color: #B0B0B0;
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
    #footer .description {
        font-size: 16px;
    }
    #footer .description .title {
        font-size: 34px;
    }
    #footer .description .text {
        width: 400px;
    }
}

@media only screen and (max-width: 767px) {
    #footer {
        padding-top: 25px;
        flex-direction: column;
        gap: 40px;
    }
    #footer .description {
        font-size: 15px;
        width: 80vw;
    }
    #footer .description .title {
        font-size: 30px;
    }
    #footer .description .text {
        width: 80vw;
    }
    #footer .made {
        align-self: flex-start;
    }
}




/*--------------------------------------------------------------
# Speed
--------------------------------------------------------------*/

.speed {
    position: fixed;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right;
    left: 50px;
    top: 8vh;
    display: flex;
    gap: 10px;
    z-index: 3;
    width: max-content;
    opacity: 1;
    font-weight: 700;
    font-size: 13px;
}

.speed p {
    min-width: fit-content;
}

.speed .x {
    color: #B0B0B0;
}

.speed .y {
    color: #4757a5;
}

@media only screen and (max-width: 992px) {
    .speed {
        left: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .speed {
        font-size: 11px;
        top: 14vh;
        left: 15px;
    }
}