@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.SmoothScroll {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
  
.container {
    width: 100vw;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: white !important;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
}

.show {
    opacity: 1;
    transition: 0.4s;
}

.hide {
    opacity: 0;
    transition: 0.4s;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}


.chart-wrapper {
    position: fixed;
    height: 500px;
    width: 108vw;
    display: flex;
    z-index: -1;
    top: 200px;
    margin-left: -7vw;
}

.cover {
    position: absolute;
    height: 100%;
    width: 7vw;
    display: block;
    background-color: white;
}

#speedChart {
    display: block;
    box-sizing: border-box;
    height: 405px !important;
    width: 100% !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

#header .image {
    padding-left: 10%;
    align-self: center;
}

#header .image img {
    width: 120px;
    vertical-align: bottom;
}

#header .item a {
    text-transform: uppercase;
    color: #000 !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

#header .menu {
    padding-right: 10%;
    align-self: center;
}

#header .menu .menu-open .open {
    margin-right: -10px !important;
}

@media only screen and (max-width: 992px) {
    #header .item a {
        font-size: 22px !important;
    }
}


/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/

#title {
    padding-top: 200px;
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
    width: fit-content;
    background: linear-gradient(to right, rgba(255,255,255,0.7) 90%, transparent);
}

#title div img {
    width: 150px;
}

#title div h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

@media only screen and (max-width: 992px) {
    #title div h2 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #title {

    }
    #title div img {
        width: 130px;
    }
    #title div h2 {
        font-size: 40px;
    }
}



/*--------------------------------------------------------------
# Goals
--------------------------------------------------------------*/

#goals {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgba(255,255,255,0.7);
}

#goals .steps {
    display: flex;
}

#goals .steps .step {
    width: fit-content;
    flex: 1;
}


#goals .steps .step .number {
    color: black;
    font-size: 24px;
    margin-bottom: 0;
    padding-left: 8px;
}

#goals .steps .step .text {
    color: #b9732f;
    font-size: 38px;
    font-weight: 700;
    margin-top: -5px;
    padding: 0 8px;
    text-transform: uppercase;
}

#goals .description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#goals .description .text {
    padding-left: 8px;
    font-size: 18px;
    padding-right: 80px;
    flex: 1;
}

#goals .description .icon {
    display: flex;
    flex: 1;
}

#goals .description .icon img {
    width: 400px;
    height: auto;
    align-self: center;
    vertical-align: middle;
}

@media only screen and (max-width: 1125px) {
    #goals .steps {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 992px) {
    #goals .steps .step .text {
        font-size: 34px;
    }
    #goals .description {
        flex-direction: column;
        margin-top: 30px;
    }
    #goals .description .text {
        font-size: 16px;
    }
    #goals .description .icon img {
        width: 330px;
        padding-top: 50px;
    }
    #goals .steps .step2 {
        padding-left: 50px;
    }
    #goals .steps .step3 {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 767px) {
    #goals .steps .step .text {
        font-size: 30px;
    }
    #goals .description {
        margin-top: 10px;
    }
    #goals .description .text {
        font-size: 15px;
    }
    #goals .description .icon img {
        width: 250px;
    }
    #goals .steps .step2 {
        padding-left: 22px;
    }
    #goals .steps .step3 {
        padding-left: 44px;
    }
}


/*--------------------------------------------------------------
# Explain
--------------------------------------------------------------*/

#explain {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
}

#explain .title {
    color: #4757a5;
    font-size: 38px;
    font-weight: 700;
    margin-top: 5px;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 60px;
}

#explain .row {
    display: flex;
    padding-bottom: 70px;
    gap: 10px;
}

#explain .row img {
    margin-bottom: 15px;
    margin-left: 8px;
}

#explain .row .item {
    padding: 0;
    height: fit-content;
    flex: 1;
}

#explain .row .title {
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#explain .row .description {
    margin: 0;
    font-size: 17px;
    width: 260px;
}

@media only screen and (max-width: 992px) {
    #explain .title {
        font-size: 34px;
    }
    #explain .row {
        flex-direction: column;
        gap: 50px;
    }
    #explain .row .title {
        font-size: 17px;
    }
    #explain .row .description {
        font-size: 16px;
        width: 50vw;
    }
}

@media only screen and (max-width: 767px) {
    #explain .title {
        font-size: 30px;
    }
    #explain .row .title {
        font-size: 16px;
    }
    #explain .row .description {
        font-size: 15px;
        width: 70vw;
    }
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

#education {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.9);
}

#education .title {
    color: #F0BB74;
    font-size: 38px;
    font-weight: 700;
    margin-top: 5px;
    padding: 0 8px;
    background-color: #f0f0f0;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

#education .title-top {
    margin-top: 5px;
}

#education .description {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 130px;
}

#education .description .text {
    font-size: 17px;
    align-self: center;
}

#education .description img {
    width: 160px;
    height: auto;
    align-self: center;
}

@media only screen and (max-width: 992px) {
    #education .title {
        font-size: 34px;
    }
    #education .description .text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    #education .title {
        font-size: 30px;
    }
    #education .description {
        flex-direction: column;
        gap: 20px;
    }
    #education .description .text {
        font-size: 15px;
    }
}



/*--------------------------------------------------------------
# Speed
--------------------------------------------------------------*/

.speed {
    position: fixed;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right;
    left: 30px;
    top: 30px;
    display: flex;
    gap: 10px;
    z-index: 3;
    width: max-content;
    opacity: 0.6;
}

.speed p {
    min-width: fit-content;
}

.speed .x {
    color: #b9732f;
}

.speed .y {
    color: #4757a5;
}

@media only screen and (max-width: 767px) {
    .speed {
        font-size: 11px;
        top: 14vh;
        left: 12px;
    }
}